<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Cart</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <style>
        .action {
            cursor: pointer;
        }
        .quantity-control {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .qty-btn {
        background-color: #088178;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin: 0;
        border-radius:5px;
    }

    .qty-val {
        margin: 0 10px;
    }
    .blackfoot, .blackfoot a , .blackfoot li, .blackfoot p, .blackfoot h5{
            background-color: black !important;
            color: white !important;
        }
        #cartempty{
            font-weight:bold;
        }
    </style>
</head>

<body>
    <%-include('shopheader')%>
    <%-include('mobileheader')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span> <a href="/home">Shop</a></span> 
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">price</th>
                                        <th scope="col">Size</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(locals.cartEmpty){%>
                                        <p id="cartempty" class="text text-danger"><%=locals.cartEmpty%></p>
                                    <%}%>
                                    <% let sum = 0 %>
                                    <% if(locals.cartOfUser){ %>
                                    <% locals.cartOfUser.forEach(element => { element.products.forEach(el=>{ %>
                                    <tr>
                                        <td class="image product-thumbnail"><img src="/uploads/<%=el.productId.image[0]%>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href=""><%= el.productId.name %></a></h5>
                                            <!-- <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus. </p> -->
                                           
                                        </td>
                                        
                                        <td class="price" data-title="Price"><span>₹ <%=el.productId.price.saleprice%> </span></td>
                                        <td class="price" data-title="Size"><span><%=el.size%> </span></td>
                                        <td class="text-center" data-title="Stock">
                                            <!-- <div class="detail-qty border radius  m-auto"> -->
                                                <!-- <a href=""  class="qty-down"><i  onclick="decQuantityUpdation(`<%=el.productId._id%>`,`<%=el.size%>`)" class="fi-rs-angle-small-down"></i></a>
                                                <span id="quantity" class="qty-val"><%=el.quantity%></span>
                                                <a href="" class="qty-up"><i  onclick="incQuantityUpdation(`<%=el.productId._id%>`,`<%=el.size%>`)"  class="fi-rs-angle-small-up"></i></a> -->
                                                <div class="quantity-control">
                                                    <button class="qty-btn me-2" onclick="decQuantityUpdation('<%=el.productId._id%>', '<%=el.size%>')">
                                                        <i class="fi-rs-minus"></i>
                                                    </button>
                                                    <span id="quantity" class="qty-val"><%=el.quantity%></span>
                                                    <button class="qty-btn ms-2" onclick="incQuantityUpdation('<%=el.productId._id%>', '<%=el.size%>')">
                                                        <i class="fi-rs-plus"></i>
                                                    </button>
                                                </div>
                                                
                                            <!-- </div> -->
                                            <p id="updateError" style="display:block;" class="text text-danger"></p>
                                        </td>
                                        <td class="text-right" data-title="Subtotal">
                                            <span id="subtotal">₹ <% let sub = el.productId.price.saleprice * el.quantity%> <%= sub %></span>
                                            <% sum += sub %>
                                        </td>
                                        <td class="action" onclick="removeFromCart(`<%=el.productId._id%>`,`<%=el.size%>`)" data-title="Remove"><i class="fi-rs-trash"></i></td>
                                    </tr>
                                    <!-- <tr>
                                        <td colspan="6" class="text-end">
                                            <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                        </td>
                                    </tr> -->
                                    <% }) }) } %>
                                       
                                    
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="cart-action text-end">
                            <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a> -->
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                               
                              
                                
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">Rs.<%= sum %></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">Rs.<%= sum %></span></strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                                    <%if(locals.cantMoveToCheckout){%>
                                        <p id="noproceed" class="text text-danger"><%=locals.cantMoveToCheckout%></p>
                                        <script>
                                            setTimeout(() => {
                                                document.getElementById('noproceed').style.display="none"
                                            }, 3000);
                                        </script>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('footer')%>
    <!-- Preloader Start -->
   
    <!-- Vendor JS-->
    <script>
        const updateError = document.getElementById('updateError')

        function removeFromCart(productId,size){
            fetch('/removefromcart',{
                method:"PATCH",
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({productId,size})
            }).then(response =>response.json()).then(data=>{
                window.location.reload()
                console.log(data)
            })
        }
        function incQuantityUpdation(productId,size){
            fetch('/incquantityupdation',{
                method:"PATCH",
                headers:{
                    'Content-Type':'application/json',
                    'Cache-Control': 'no-cache'
                },
                body:JSON.stringify({productId,size})
            }).then(response =>response.json()).then(data=>{
                console.log(data)
                if(data.success){
                    console.log(data.success)
                   
                }else{
                    // updateError.textContent=data.updateError1
                    setTimeout(() => {
                        updateError.style.display="none";
                    }, 3000);
                }
                window.location.reload( )
            })
        }

        function decQuantityUpdation(productId,size){
            fetch('/decquantityupdation',{
                method:"PATCH",
                headers:{
                    'Content-Type':'application/json',
                    'Cache-Control': 'no-cache'
                },
                body:JSON.stringify({productId,size})
            }).then(response =>response.json()).then(data=>{
                window.location.reload()
                console.log(data)
            })
        }
    </script>
   
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>