<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-i2U9qZcFJc7i7eMYJvxNml5P9Dcyd1/42Kc49bhJE0T/8aJw9kRQhzk0c/15/RS2lz9xJwS3aNk1la5QZu27oQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <style>
       #html{
        margin-left: -170px;
       }
       .blackfoot, .blackfoot a , .blackfoot li, .blackfoot p, .blackfoot h5{
            background-color: black !important;
            color: white !important;
        }
    </style>
    
</head>

<body>
    <%-include('shopheader')%>
    <%-include('mobileheader')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="toggle_info">
                            <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Need Coupons?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Check down for coupons</a></span>
                        </div>
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">
                                <h4>Coupons</h4>
                                <br>
                               
                                    <% if(locals.coupon){%>
                                      <%for(let i=0;i<coupon.length;i++){%>
                                        <div class="form-group">
                                          
                                           <pre><span style="color: rgb(3, 3, 3); font-size: 1em;"><%= coupon[i].name %></span> :   <span style="color: rgb(0, 0, 0); font-size: 1em;"><%= coupon[i].code %></span>
                                            <p id="pp" style="display:block;" class="text text-dark"></p></pre> 
                                                <br>
                                             <button style="border-radius: 5px; background-color:black; color:white; font-size: 0.75em;" onclick="copyToClipboard('<%= coupon[i].code %>')">Copy to clipboard</button>
                                        
                                        </div>

                                    <% }}%>
                                   
                            
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        
                        </div>
                        <%if(locals.addressOfUser){%>
                            <%for(let i=0;i<locals.addressOfUser.length;i++){%>
                        <div class="row">
                            <div class="col-md-8 mb-4">
                              <div class="card mb-4">
                                <div class="card-header py-3">
                                  <h5 class="mb-0">Biling Address</h5>
                                </div>
                               
                            
                                        <div class="card-body" style="text-align: left;">
                                    <input type="radio" id="html" class="radiobtn" name="colorRadio" value="<%= locals.addressOfUser[i]._id  %>" style="transform: scale(0.5);" <% if(i === 0) { %> checked <% } %>>
                                    <p class="form-label" for="form7Example1">First name :<%=addressOfUser[i].fname%></p>
                                    <p class="form-label" for="form7Example2">Last name  :<%=addressOfUser[i].lname%></p>
                                    <p class="form-label" for="form7Example3">House name :<%=addressOfUser[i].house%></p>
                                    <p class="form-label" for="form7Example4">Landmark   :<%=addressOfUser[i].landmark%></p>
                                    <p class="form-label" for="form7Example5">City       :<%=addressOfUser[i].city%></p>
                                    <p class="form-label" for="form7Example6">Pincode    :<%=addressOfUser[i].pincode%></p>
                                    <p class="form-label" for="form7Example7">Country    :<%=addressOfUser[i].country%></p>
                                    <p class="form-label" for="form7Example8">Phone      :<%=addressOfUser[i].phone%></p>
                                    <p class="form-label" for="form7Example9">Email      :<%=addressOfUser[i].email%></p>
                                    <br>
                                    <a href="/editaddress?id=<%=addressOfUser[i]._id%>" class="edit-link"><i class="fas fa-pen"></i>Edit Address</a>

                                        </div>

                              </div>
                            </div>
                          
                          
                          </div>
                          <%}}%>
                          <a href="/add-address" class="btn "> <i class="fi-rs-box-alt mr-10"></i>Add Address</a>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                            <th>Size</th>
                                        </tr>
                                        
                                    </thead>
                                    
                                    <tbody>
                                        <% let sum=0 %>
                                        <%if(locals.cartOfUser){%>
                                            <%locals.cartOfUser.products.forEach(el=>{%>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="/uploads/<%=el.productId.image[0]%>" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html"><%=el.productId.name%></a></h5> <span class="product-qty"><%=el.quantity%></span>
                                            </td>
                                            <td><%let total = el.productId.price.saleprice * el.quantity%> Rs.<%=total%></td>
                                            <% sum = sum + total %>
                                            <td id="size">
                                                <%=el.size%>
                                            </td>
                                        </tr>
                                       <%})}%>
                                        
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-subtotal" colspan="2">Rs.<%=sum%></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td colspan="2"><em>Free Shipping</em></td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <% if(locals.newTotal){%>
                                                <span><td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900" id="totalprice"><%=newTotal%></span></td></span>
                                            <%}else{%>
                                            <span><td style="display:block;" colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900" id="totalprice"><%=sum%></span></td></span>
                                            <%}%>
                                        </tr>
                                        
                                        
                                    </tbody>
                                    
                                </table>
                            </div>
                            <form method="post">
                                <div class="form-group">
                                    
                                    <input type="text" name="coupon" placeholder="Enter Coupon Code...">
                                    <input type="hidden" name="total" value="<%=sum%>">
                                </div>
                               
                                   
                                    <button  class="btn  btn-md" >Apply Coupon</button>
                                    <br>
                                    <% if(locals.applied){%>
                                    <p id="applied" style="display: block;" class="text text-primary"><%=locals.applied%></p>
                                    <script>
                                        setTimeout(() => {
                                            document.getElementById('applied').style.display="none"
                                        },3000);
                                    </script>
                                    <%}%>
                                    <% if(locals.expired){%>
                                        <p id="expired" style="display: block;" class="text text-danger"><%=locals.expired%></p>
                                        <script>
                                            setTimeout(() => {
                                                document.getElementById('expired').style.display="none"
                                            },3000);
                                        </script>
                                    <%}%>
                                    <% if(locals.minpurchase){%>
                                        <p id="minpurchase" style="display: block;" class="text text-danger"><%=locals.minpurchase%></p>
                                        <script>
                                            setTimeout(() => {
                                                document.getElementById('minpurchase').style.display="none"
                                            },3000);
                                        </script>
                                    <%}%>
                                    <% if(locals.used){%>
                                        <p id="used" style="display: block;" class="text text-danger"><%=locals.used%></p>
                                        <script>
                                            setTimeout(() => {
                                                document.getElementById('used').style.display="none"
                                            },3000);
                                        </script>
                                    <%}%>
                             
                            </form>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" value="COD" checked="">
                                        <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Cash On Delivery</label>
                                        <div class="form-group collapse in" id="bankTranfer">
                                            <p class="text-muted mt-5">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" value="razorpay" >
                                        <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Razor pay</label>
                                        <div class="form-group collapse in" id="checkPayment">
                                            <p class="text-muted mt-5">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode. </p>
                                        </div>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" value="wallet" >
                                        <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Wallet</label>
                                        <div class="form-group collapse in" id="paypal">
                                            <p class="text-muted mt-5">Pay via PayPal; you can pay with your credit card if you don't have a PayPal account.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <button onclick="placeOrder(`<%= locals.cartOfUser._id%>`)"  class="btn btn-fill-out btn-block mt-30">Place Order</button>
                            <br>
                            <p id="noBalance" class="text text-danger"></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('footer')%>
    <!-- Preloader Start -->
   
    <!-- Vendor JS-->
    <script>
        
       
       
        let radiovalue;

async function placeOrder(cartId, radiovalue) {
    console.log("cart id is" + cartId);
    const radiobtn = document.querySelectorAll('.radiobtn');
    const paymentMethod = document.querySelector('input[name="payment_option"]:checked').value;
    const totalpricetag = document.getElementById('totalprice');
    const totalprice = totalpricetag.textContent;

    radiobtn.forEach(element => {
        if (element.checked) {
            radiovalue = element.value;
        }
    });

    if (radiovalue !== undefined) {
        if (paymentMethod == "razorpay") {
            fetch('/createorder', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ totalprice,cartId, radiovalue, paymentMethod })
            }).then(response => response.json()).then(data => {
                const parsedAmount = parseInt(totalprice)
                const options = {
                    "key": "rzp_test_giSNf5P5hp9gLU", // Enter the Key ID generated from the Dashboard
                    "amount":1000000 , // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Acme Corp", //your business name
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": data.orderId.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        // alert(response.razorpay_payment_id);
                        // alert(response.razorpay_order_id);
                        // alert(response.razorpay_signature)
                        verify(response,data.orderId.id)
                    },
                    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                        "name": "Gaurav Kumar", //your customer's name
                        "email": "gaurav.kumar@example.com", 
                        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                }

               
                var rzp = new Razorpay(options);
                rzp.open();



                async function verify(response,orderid){
                    try {
                        fetch('/payment-success', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_signature: response.razorpay_signature,
                            orderid
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            // Redirect to the 'placeorder' page
                            fetch('/placeorder', {
                                method: 'post',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ cartId, radiovalue, paymentMethod:"razorpay", totalprice }),
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success === true) {
                                    window.location.href = '/orderplaced';
                                }
                            });
                            // window.location.href = '/placeorder';
                        } else {
                            // Handle payment error and display appropriate message
                            console.error('Payment error:', data.message);
                            alert('Payment processing failed. Please try again or contact support.');
                        }
                    })
                    .catch(error => {
                        console.error('Error sending payment details:', error);
                        alert('An error occurred while processing the payment. Please try again.');
                    });
                    } catch (error) {
                        console.log(error)
                    }
                }
                rzp.on('payment.error', (error) => {
                    console.error('Payment error:', error);
                    alert('Payment failed. Please try again or use a different payment method.');
                });
            })

        } 
           else if(paymentMethod=="COD"){
            fetch('/placeorder', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cartId, radiovalue, paymentMethod, totalprice }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === true) {
                    window.location.href = '/orderplaced';
                }
            });
           } 

           else if(paymentMethod=="wallet"){
            fetch('/placeorder', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cartId, radiovalue, paymentMethod, totalprice }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success === true) {
                    window.location.href = '/orderplaced';
                }else if(data.success==false){
                    document.getElementById('noBalance').textContent=data.error
                    setTimeout(() => {
                        document.getElementById('noBalance').style.display="none"
                    }, 3000);
                }
            });
           } 
       
    } else {
        Swal.fire({
            title: 'Select any Address!!',
            icon: 'info',
        });
    }
}


      
    function copyToClipboard(code) {
        const textarea = document.createElement('textarea');
        textarea.value = code;
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);
        document.getElementById('pp').innerHTML="copied to clipboard"
        setTimeout(() => {
            document.getElementById('pp').style.display="none"
        }, 2000);
    }

 
    </script>
  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>