<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otp page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">

<style>

.card {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  border: none;
  height: 450px;
  position: relative;
}

.container {
  height: 100vh;
}

body {
  background: #eee;
}

.text {
  color: black;
  font-size: 15px;
}

.form-control {
  margin-right: 12px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #17815e;
  outline: 0;
  box-shadow: none;
}

.cursor {
  cursor: pointer;
}
.texts{
    color:#17815e
}
.resend{
  border: 1px solid #17815e;
  color:#17815e;
  text-decoration: none;
}
.resend:visited{
  color:#17815e
}
#otpDisplay{
  font-size: 15px;
  color: #d10000;
}
/* #otpInput:hover{
  border: 2px solid #666666;
} */
</style>

</head>
<body>
    
    <form action="/newforgototp" method="post">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <p class="m-0 fw-bold mb-3"><b>OTP VERIFICATION</b></p><span class="text" >Enter the code we just send on your email
               <b> <% if(locals.forgotemail) { %>
                    <%=locals.forgotemail %>
               <% } %>
              </b></span>
             
              
              <input type="hidden" name="email" id="email" value="<%= forgotemail %>">
            <div class="d-flex flex-row mt-5"><input id="otpInput" type="text" class="form-control" autofocus="" name="otp"></div>
            <div class="text-center mt-5"><span class="d-block mobile-text"></span><span class="font-weight-bold text-danger cursor"></span></div>
          
           <% if(locals.error) { %>
            <p style="display:block" id="error" class="error text text-danger"><%= locals.error %></p>
            <!-- <script>
              setTimeout(() => {
                  document.getElementById('error').style.display='none';
              },2000);
          </script> -->
            <% } %>
            <p id="otpDisplay" ></p>
            <% if(locals.timeout){ %>
              <p  class="text text-danger"><%= timeout %></p>
            <% } %>
           <a href="/forgotresendotp"   class="resend btn" style="display: none;">Resend</a>
            <br>

            <% if(locals.expiration) { %>
            <input id="otp" type="hidden" name="exp" class="text text-danger" value=" <%= locals.expiration %> ">
            <% } %>
            <button type="submit" class="btn btn-success" >verifyotp</button>
            
        </div>
    </div>
</form>
<script>
    const otpExpiration = document.getElementById('otp').value 
    const otpDisplay = document.getElementById('otpDisplay')
    const resend = document.querySelector(".resend")
    const forgotemail = document.getElementById('forgotemail')

    function updateTimer(){
        const currentTime = Date.now();
        const timeRemaining = Math.max(0,otpExpiration-currentTime)

        if(timeRemaining<=0){
            otpDisplay.innerHTML="otp has been timed out"
            resend.style.display = "block"
        }else{
            const secondsRemaining = Math.ceil(timeRemaining/1000);
            otpDisplay.innerHTML=`Time remainig:${secondsRemaining} seconds`
            setTimeout(updateTimer,1000); 
        }
    }
    updateTimer();


    resend.addEventListener('click',(event)=>{
        event.preventDefault();
        fetch('/forgotresendotp',{
            method:"POST",
            headers:{
              "Content-Type":"application/json"
            },
            body:JSON.stringify({forgotemail:forgotemail,otpExpiration:otpExpiration})
        }).then(response =>{
          updateTimer()
          window.location.reload()
        }).then(data =>{
          console.log(data)
        })
    })
</script>
</body>
</html>