<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>OrderSummary</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
    <style>
        .blackfoot, .blackfoot a , .blackfoot li, .blackfoot p, .blackfoot h5{
            background-color: black !important;
            color: white !important;
        }
        .price{
            border-radius: 20px;
            background-color: #088178 !important;
            color: white;
            padding: 8px 20px;
            margin: 0;
        }
        #btncancel{
            background-color: #088178;
            color:white;
            border-radius:5px;
            border:none;
        }
        #btncancel2{
            background-color: #088178;
            color:white;
            border-radius:5px;
            border:none;
        }
    </style>
</head>

<body>
    <%-include('shopheader')%>
    <%-include('mobileheader')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span><a href="/userdasboard">Dashboard</a></span>
                    <span><a href="/orders">orders</a></span>
                    <span></span>OrderSummary
                </div>
            </div>
        </div>
        
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Quantity</th>
                                        <!-- <th scope="col">Subtotal</th> -->
                                        <th scope="col">Cancel oder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    <%if(locals.orderDetails){%>
                                        <%orderDetails.products.forEach(element=>{%>
                                            <% sum = element.totalamount %>
                                    <tr>
                                        <td class="image product-thumbnail"><img src="/uploads/<%=element.product.image[0]%>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html"><%=element.product.name%></a></h5>
                                            <p class="font-xs"><%=element.product.description.split('.')[0]%><br> 
                                            </p>
                                        </td>
                                        <%if(orderDetails.status == "Confirmed"){%>
                                        <td  data-title="Price"><span class="badge rounded-pill alert-success text-success"><%=orderDetails.status%></span></td>
                                        <%}%>
                                        <%if(orderDetails.status == "cancelled"){%>
                                        <td  data-title="Price"><span class="badge rounded-pill alert-danger text-danger"><%=orderDetails.status%></span></td>
                                        <%}%>
                                        <%if(orderDetails.status == "Shipped"){%>
                                        <td  data-title="Price"><span class="badge rounded-pill alert-info text-info"><%=orderDetails.status%></span></td>
                                        <%}%>
                                        <%if(orderDetails.status == "Delivered"){%>
                                        <td  data-title="Price"><span class="badge rounded-pill alert-success text-success"><%=orderDetails.status%></span></td>
                                        <%}%>
                                        <%if(orderDetails.status == "returned"){%>
                                            <td  data-title="Price"><span class="badge rounded-pill alert-danger text-danger"><%=orderDetails.status%></span></td>
                                            <%}%>
                                      
                                        <td class="text-center" data-title="Stock">
                                            <div class="detail-qty border radius  m-auto">
                                                
                                                <span class="qty-val"><%=element.quantity%></span>
                                               
                                            </div>
                                        </td>
                                        <!-- <td class="text-right" data-title="Cart">
                                            <span>$65.00 </span>
                                        </td> -->
                                        <%if(locals.orderDetails.status!="cancelled"){%>
                                        <td class="action" data-title="Remove"><a href="" onclick="removeSingle(`<%=element.product._id%>`,`<%=orderDetails._id%>`,`<%=element.size%>`)"  class="text-muted"><i class="">Cancel</i></a></td>
                                        <%}else{%>
                                            <td class="action" data-title="Remove"><a href="" >Cancelled</i></a></td>
                                        <%}%>
                                         
                                    </tr>
                                    <%})}%>
                                    <tr>
                                        <%if(locals.orderDetails.status=="Delivered"){%>
                                            <td colspan="6" class="text-end">
                                                <button onclick="returnOrder(`<%=orderDetails._id%>`)" id="btncancel2">Return Order</button>
                                                <script>
                                                    document.getElementById('btncancel').style.display="none"
                                                </script>
                                            </td>
                                        <%}else if(locals.orderDetails.status=="returned"){%>
                                           <script>
                                            document.getElementById('btncancel2').style.display="none"
                                           </script>
                                        <%}else if(locals.orderDetails.status=="cancelled"){%>
                                            <script>
                                                document.getElementById('btncancel2').style.display="none"
                                               </script>
                                    <%}else{%>
                                        <td colspan="6" class="text-end">
                                            <button style="display:block;" onclick="removeOrder(`<%=orderDetails._id%>`)" id="btncancel"  > <i class="fi-rs-cross-small"></i>Cancel order</button>
                                        </td>
                                    <%}%>
                                    </tr>
                                    
                               

                                   
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    
                                    <% if(locals.orderDetails){ %>
                                    <tr>
                                        <td class="cart_total_label">Cart Subtotal</td>
                                        <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">Rs.<%=locals.orderDetails.totalamount%></span></td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">Shipping</td>
                                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                    </tr>
                               
                                    <tr>
                                        <td class="cart_total_label">Total</td>
                                        <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">Rs.<%=locals.orderDetails.totalamount%></span></strong></td>
                                    </tr>
                                    <%}%>
                                </tbody>
                         
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a href='/userdashboard' class="btn  mr-10 mb-sm-15">Go to dash-board</a>
                            <button onclick="downloadInvoice(`<%=locals.orderDetails._id%>`)"  class="btn  mr-10 mb-sm-15">Downlaod Invoice</button>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i>

                        </div>
                        <div class="row mb-50">
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('footer')%>
    <!-- Preloader Start -->
   
    <!-- Vendor JS-->
    <script>
        async function removeSingle(productId,orderId,size){
            try {
                const response = await fetch('/removefromorder',{
                method:"post",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({productId,orderId,size})
            })
            const data = await response.json()
            // window.location.reload()
            } catch (error) {
                console.log(error)
            }
        }

async function rem(orderId)
{
    try {
        const response = await fetch('/removeorder',{
                    method:"post",
                    headers:{
                        "Content-Type":"application/json"
                    },
                    body:JSON.stringify({orderId})
                })

                const data = await response.json()
                if(data.success){
                    window.location.reload()
                }
    } catch (error) {
        console.log(error.message)
    }
}

async function removeOrder(orderId){
    try {
        Swal.fire({
            title: "Are you sure?",
            icon: "info",
            confirmButtonText: "OK",
            showConfirmButton: true,
            showDenyButton: true,
            denyButtonText: "cancel"
        })
        .then(res1 => {
            if (res1.isConfirmed) {
                return Swal.fire({
                    title: 'Enter cancellation reason',
                    input: 'text',
                    inputPlaceholder: 'Type your reason here...',
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                });
            } else {
                window.location.reload(); // Reload the page if the user cancels the first confirmation
            }
        })
        .then(res2 => {
            if (res2 && res2.isConfirmed) {
                rem(orderId);
            } else {
                window.location.reload(); // Reload the page if the user cancels the second confirmation
            }
        });
    } catch (error) {
        console.log(error.message)
    }
}


        function returnOrder(orderId){

            Swal.fire({
                    title:"Are you sure?",
                    icon:"info",
                    confirmButtonText:"OK",
                    showConfirmButton:true,
                    showDenyButton:true,
                    denyButtonText:"cancel"
                }).then(res=>{
                    if(res.isConfirmed){
                        fetch('/returnorder',{
                            method:"POST",
                            headers:{
                                "Content-Type":"application/json"
                            },
                            body:JSON.stringify({orderId})
                        }).then(response =>response.json()).then(data=>{
                            if(data.success){
                                window.location.reload()
                            }
                        })
                    }
                })
        }

        function downloadInvoice(orderId){
            fetch('/downloadinvoice',{
                method:"PATCH",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({orderId})
            }).then(response=>response.json()).then(data=>{
                if(data.resPdf){
                    console.log(data.resPdf)
                    easyinvoice.download('wildmonkey_Invoice.pdf',data.resPdf)
                }
            })
        }

    </script>
   
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>