<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>user-dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <style>
        .shadecard{
            box-shadow: 0px 0px 15px #8fad9866;
            max-height: 30rem;
            
        }
        .shadecard h5 ,.shadecard p{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .editlink1{
            display: flex;
            align-items: center;
            justify-content: space-between
        }
        .change{
            text-decoration: none;
            color: #088178;
           
        }
        .changediv{
            padding:10px;
        }
        .blackfoot, .blackfoot a , .blackfoot li, .blackfoot p, .blackfoot h5{
            background-color: black !important;
            color: white !important;
        }
        #addButton{
            margin-top:20px;
            width: 86px;
            height:40px;
            font-size:10px;
        }
        #moneyInput{
            display: none;
        }
        #addMoneyText{
            cursor:pointer;
        }
    </style>
</head>

<body>
  <%-include('shopheader')%>
    <%-include('mobileheader')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Dashboard
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab"  href="/orders"  aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                       
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wallet-tab" data-bs-toggle="tab" href="#wallet" role="tab" aria-controls="wallet" aria-selected="true">
                                                <i class="fa-solid fa-wallet"></i>Wallet
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0"><%=user.name%></h5>
                                            </div>
                                            <div class="card-body">
                                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Total</th>
                                                                <th>payment Status</th>
                                                                <th>View Order</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%if(locals.order){%>
                                                                <%for(let i=0;i<order.length;i++){%>
                                                            <tr>
                                                                <td><%=order[i]._id%></td>
                                                                <td><%= new Date(order[i].createdAt).toLocaleDateString() %></td>
                                                                <td>Rs.<%=order[i].totalamount%></td>
                                                                <td><%=order[i].status%></td>
                                                                <td><a href="/ordersummary?id=<%=order[i]._id%>" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            <%}}%>
                                                        </tbody>
                                                     
                                                    </table>
                                                            <% if (locals.totalPages > 1) { %>
                                                                <% if (locals.page > 1) { %>
                                                                    <a href="?page=<%= parseInt(locals.page) - 1 %>" onclick="page(`<%=parseInt(locals.page) - 1%>`)" style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; text-align: center; margin-right: 5px; color: white; background-color: #088178; border-radius: 5px;">Prev</a>
                                                                <% } %>

                                                                <% let startPage = Math.max(1, locals.page - 2); %>
                                                                <% let endPage = Math.min(locals.totalPages, startPage + 3); %>

                                                                <% if (endPage - startPage < 3) { %>
                                                                    <% startPage = Math.max(1, endPage - 3); %>
                                                                <% } %>

                                                                <% for (let i = startPage; i <= endPage; i++) { %>
                                                                    <a href="?page=<%= i %>" onclick="page(`<%=locals.page%>`)" style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; text-align: center; margin-right: 5px; color: white; background-color: #088178;  border-radius: 5px;"><%= i %></a>
                                                                <% } %>

                                                                <% if (locals.page < locals.totalPages) { %>
                                                                    <a href="?page=<%= parseInt(locals.page) + 1 %>" onclick="page(`<%=parseInt(locals.page) + 1%>`)" style="display: inline-flex; align-items: center; justify-content: center; width: 40px; height: 40px; text-align: center; margin-right: 5px; color: white; background-color: #088178; border-radius: 5px;">Next</a>
                                                                <% } %>
                                                            <% } %>

                                                    
                                                </div>
                                               
                                            </div>
                                           
                                        </div>
                                    </div>
                                   
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                            <%if(locals.address){%>
                                                <% for(let i=0; i < locals.address.length ; i++) { %>
                                            <div class="col-lg-6">
                                               <div class="card shadecard mb-4">
                                                
                                                <div class="card-body height" style="text-align: left;">

                                                    <h5 class="mb-3">Biling Address</h5>

                                                    <p class="form-label" for="form7Example1">First name:&nbsp<%= locals.address[i].fname%></p>
                                                    <p class="form-label" for="form7Example2">Last name :&nbsp<%=locals.address[i].lname%></p>
                                                    <p class="form-label" for="form7Example3">House name:&nbsp<%=locals.address[i].house%></p>
                                                    <p class="form-label" for="form7Example4">Landmark:&nbsp<%=locals.address[i].landmark%></p>
                                                    <p class="form-label" for="form7Example5">City:&nbsp<%=locals.address[i].city%></p>
                                                    <p class="form-label" for="form7Example6">Pincode:&nbsp<%=locals.address[i].pincode%></p>
                                                    <p class="form-label" for="form7Example7">Country:&nbsp<%=locals.address[i].country%></p>
                                                    <p class="form-label" for="form7Example8">Phone:&nbsp<%=locals.address[i].phone%></p>
                                                    <p class="form-label" for="form7Example9">Email:&nbsp<%=locals.address[i].email%></p>
                                                    <br>
                                                    <div class="editlink1">
                                                    <a href="/editaddress?id=<%=locals.address[i]._id%>" class="edit-link"><i class="fas fa-pen"></i>Edit Address</a>
                                                    <a href="/add-address" class="edit-link"><i class="fas fa-pen"></i>Add address</a></div>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <%}}%>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Wallet</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="wallet-balance">
                                                    <p class="balance-text">Your wallet balance:</p>
                                                    <br> 
                                                    <%if(locals.wallet){%>
                                                    <h2 class="balance-amount">Rs.<%=locals.wallet.balance%></h2>
                                                    <%}%>
                                                    <br>
                                                    <p id="addMoneyText">Want to add money To wallet?</p>
                                                    <div id="moneyInput">
                                                        <input type="text" id="amountInput" placeholder="Enter amount">
                                                       
                                                        <button onclick="addToWallet()" type="submit"  class="button button-success" id="addButton">Add</button>
                                                    </div>
                                                   
                                                </div>

                                                <div>
                                               <br> 

                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>History</th>
                                                                <th>Payment Method</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if(locals.wallet && locals.wallet.walletdata.length > 0){ locals.wallet.walletdata.forEach(element => { %>
                                                            <tr>
                                                              <td><%= element.date.toDateString()%></td>
                                                              <td><%= element.history %></td>  
                                                              <td><%=element.paymentmethod%></td>     
                                                            </tr>
                                                           <% }) } %>
                                                          
                                                            
                                                        </tbody>
                                                     
                                                    </table>

                                                </div>
                                                

                                                
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                            
                                                <form id="form" method="post" name="enq">
                                                 
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label> Name <span class="required">*</span></label>
                                                            <input  value="<%=locals.user.name%>" class="form-control square" id="name" name="name" type="text">
                                                            <p id="nameError" class="text text-danger"></p>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input  value="<%=locals.user.name%>" class="form-control square" id="dname" name="dname" type="text" readonly>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Referalcode <span class="required">*</span></label>
                                                            <input  value="<%=locals.user.referalcode%>" class="form-control square" id="dname" name="dname" type="text" readonly>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input  value="<%=locals.user.email%>" class="form-control square" id="email" name="email" type="email">
                                                            <p id="emailError" class="text text-danger"></p>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Update</button>
                                                        </div>
                                                        <div>
                                                            <div class="changediv">
                                                        <a href="/changepassword" class="change">Change password?</a>
                                                    </div>
                                                    </div>
                                                    </div>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>

                                 


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('footer')%>
    <!-- Preloader Start -->
   
    <!-- Vendor JS-->
    <script>
        const name = document.getElementById('name')
        const nameError = document.getElementById('nameError')
        const email = document.getElementById('email')
        const emailError = document.getElementById('emailError')


        const addMoneyText = document.getElementById('addMoneyText');
const moneyInput = document.getElementById('moneyInput');

// Add click event listener to the <p> tag
addMoneyText.addEventListener('click', () => {
    // Toggle the visibility of the input box
    moneyInput.style.display = (moneyInput.style.display === 'none' || moneyInput.style.display === '') ? 'block' : 'none';
});

    function addToWallet(){
        const amount = document.getElementById('amountInput').value
        console.log(amount);
        fetch('/createordertowallet',{
            method:"POST",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify({amount})
        }).then(response =>response.json()).then(data=>{
            const parsedAmount = parseInt(amount)
                const options = {
                    "key": "rzp_test_giSNf5P5hp9gLU", // Enter the Key ID generated from the Dashboard
                    "amount":1000000 , // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Acme Corp", //your business name
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": data.orderId.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        // alert(response.razorpay_payment_id);
                        // alert(response.razorpay_order_id);
                        // alert(response.razorpay_signature)
                        verify(response,data.orderId.id)
                    },
                    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                        "name": "Gaurav Kumar", //your customer's name
                        "email": "gaurav.kumar@example.com", 
                        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                }

                var rzp = new Razorpay(options);
                rzp.open();



                async function verify(response,orderid){
                    try {
                        fetch('/payment-successTowallet', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_signature: response.razorpay_signature,
                            orderid
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            // Redirect to the 'placeorder' page
                            fetch('/addToWallet', {
                                method: 'post',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({amount}),
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success === true) {
                                    window.location.href = '/userdashboard';
                                }
                            });
                            // window.location.href = '/placeorder';
                        } else {
                            // Handle payment error and display appropriate message
                            console.error('Payment error:', data.message);
                            alert('Payment processing failed. Please try again or contact support.');
                        }
                    })
                    .catch(error => {
                        console.error('Error sending payment details:', error);
                        alert('An error occurred while processing the payment. Please try again.');
                    });
                    } catch (error) {
                        console.log(error)
                    }
                }
                rzp.on('payment.error', (error) => {
                    console.error('Payment error:', error);
                    alert('Payment failed. Please try again or use a different payment method.');
                });

        })
    }

        
  function validateName(){
            const namePattern = /^[A-Za-z\s\-]+$/;
          if(!namePattern.test(name.value)){
                nameError.innerHTML = 'Name format is not valid'
                nameError.style.display="block"
                setTimeout(() => {
                    nameError.style.display="none"
                }, 3000);
            }else{
                nameError.innerHTML=''
            } 
        }

        
        function validateEmail(){
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
          if(!emailPattern.test(email.value)){
                emailError.innerHTML = 'Email format must be a valid format'
                emailError.style.display="block"
                setTimeout(() => {
                    emailError.style.display="none"
                }, 3000);
            }else{
                emailError.innerHTML=''
            } 
        }
        
        form.addEventListener('submit',function(event){
            validateName();
            validateEmail();

            if(nameError.innerHTML||emailError.innerHTML){
                event.preventDefault()
            }
        })

        name.addEventListener('blur',validateName)
        email.addEventListener('blur',validateEmail)

    </script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
</html>