<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
<head>
    <meta charset="utf-8">
    <title>Wishlist</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/8a813403a753870be0502b41983f96e3.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <style>
         .blackfoot, .blackfoot a , .blackfoot li, .blackfoot p, .blackfoot h5{
            background-color: rgb(31, 28, 28) !important;
            color: white !important;
        }
       .action span{
        cursor:pointer
       }
    </style>
</head>

<body>
    <%-include('shopheader')%>
    <%-include('mobileheader')%>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%if(locals.wishlistProducts){%>
                                        <%for(let i=0;i<wishlistProducts.length;i++){%>
                                    <tr>
                                        <td class="image product-thumbnail"><img src="/uploads/<%=wishlistProducts[i].image[0]%>" alt="#"></td>
                                        <td class="product-des product-name">
                                            <h5 class="product-name"><a href="shop-product-right.html"><%=wishlistProducts[i].name%></a></h5>
                                            <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.
                                            </p>
                                        </td>
                                        <%if(wishlistProducts[i].price.saleprice>0){%>
                                        <td class="price" data-title="Price"><span><%=wishlistProducts[i].price.saleprice%></span></td>
                                        <%}else{%>
                                        <td class="price" data-title="Price"><span><%=wishlistProducts[i].price.regularprice%></span></td>
                                        <%}%>
                                        <td class="text-center" data-title="Stock">
                                            <%if(wishlistProducts[i].size.s.quantity>0||wishlistProducts[i].size.m.quantity>0||wishlistProducts[i].size.l.quantity>0){%>
                                                <span class="color3 font-weight-bold ">In Stock</span>
                                            <%}else{%>
                                            <span class="color3 font-weight-bold text-danger">Out Of stock</span>
                                            <%}%>
                                           
                                        </td>
                                        <td class="text-right" data-title="Cart">
                                            <a href="/userproductdetail?id=<%=wishlistProducts[i]._id%>" class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Choose Size</a>
                                        </td>
                                        <td  class="action" data-title="Remove"><span id="rmvfrmwish" onclick="removeFromWishlist(`<%=wishlistProducts[i]._id%>`)">remove</span></td>
                                    </tr>
                                <% }}%>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('footer')%>
    <!-- Preloader Start -->
    <!-- Vendor JS-->
    <script>
      async function removeFromWishlist(productId){
        try {
            const response = await fetch(`/removefromwishlist?id=${productId}`)
      const data = await response.json() 
      if(data.success){
        window.location.reload()
      }
        } catch (error) { 
            console.log(error)
        }
      
      }
    </script>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
</html>